<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="/resource/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-row {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="6" :offset="6" style="text-align: center">
            <span>{{title}}</span>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="6" :offset="6">
            <el-input v-model="username" placeholder="请输入内容"></el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="6" :offset="6">
            <el-input placeholder="请输入密码" v-model="password" show-password></el-input>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="6" :offset="6" style="text-align: center">
            <el-button @click="login">登录</el-button>
        </el-col>
    </el-row>


</div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- import JavaScript -->
<!-- 引入组件库 -->
<!--<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>-->
<!--<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>-->

<script src="/vue.js"></script>
<script src="/resource/element-ui/element-ui_2.13.2_index.js"></script>
<script src="/axios_0.19.2.js"></script>
<script src="/md5.js"></script>

<script>
    // var title = '${ .title}';
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                username: '',
                password: '',
                title: '${ .title}'  //接收后台传来的变变量
            }
        },
        methods: {
            login: function () {
                let that = this;
                var md5Password = hex_md5(this.password);
                axios.post('/login', {       // 还可以直接把参数拼接在url后边
                    username: this.username,
                    password: md5Password
                }).then(function (res) {
                    console.log(res.data)
                    if (res.data.code == 0) {
                        // alert(res.data.msg)
                        that.$message({
                            message: res.data.msg,
                            type: 'success',
                            duration:1000,
                            onClose:that.hrefurl
                        })
                    } else {
                        that.$message.error('失败' + res.data.msg);
                        // alert("失败：" + res.data.msg)
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            hrefurl:function () {
                // console.log(11111111111)
                window.location.href = "/user/index3"
            }
        }
    })
</script>
</html>